@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Guestbook</title>
</head>
<body>
    <h1>Claxton Connections Guestbook</h1>

    <h2>Entries should be entered and viewed here.</h2>
</body>
</html>
