@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Claxton Connections connects you with the world around you. At Claxton Connections, 
    you can find locally-produced products from Evans and surround counties. By shopping here and buying 
    these products, you support local people, people you know, instead of strangers in a far-off 
    country like India or China.</p>

<p>Claxton Connections was opened in 2014 by Marla Crews, who has lived in the area for about 25 years. When looking
    for the perfect location for her endeavor, she chose an older building in the historic downtown area that she
    felt had more character than the modern buildings you could have built today. She is hoping to be a part of the
    movement to revitalize the old downtown area. She invites you to participate in this movement to inject life into
    smal rural towns.
</p>

<p>Claxton Connections is a Comcast dealer, source of local products, and an Internet cafe. While you are here, 
    you can browse the store, surf the Internet, watch some TV, and get to know other people in town. If you've 
    gone to the Georgia Fruitcake Company Coffee Shop, you can come over one block and watch the news or enjoy 
    free Wi-Fi while you have your breakfast in peace and quiet, without the hustle and bustle of the restaurants.</p>

<p>We hope to be a place that local residents and travelers like to visit.</p>

<p>If you would like to stay up-to-date on local and store events, sign up for the email list.</p>

<p><strong>Have a great day!</strong></p>

<img class="center" src="~/Content/storefront.jpg" width="300px;"/>

<hr />
<script language="Javascript">
    document.write("This page was last updated on: " + document.lastModified + "");
</script>
