@{
    ViewBag.Title="Bulloch County";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>Bulloch County</h1>
    </div>
</body>
</html>
