@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Claxton Connections<br />
    19 South Newton Street<br />
    Claxton, Georgia 30417<br />
    <abbr title="Phone">P:</abbr>
    (912) 512-2758
</address>

<address>
    <strong>Email Store Owner:</strong>   <a href="mailto:marla-crews@att.net">Marla Crews</a><br />
</address>

<p>Find us on Facebook: <a href="https://facebook.com/ClaxtonConnections" target="_blank">Claxton Connections</a></p>