@{
    ViewBag.Title = "Home Page";
}

 <h1>Claxton Connections</h1>

<h4 class="center"><i>Connecting You With The World Around You</i></h4>

<hr />

<p>Welcome to Claxton Connections! This website will be a work in progress. For now, customers may sign up for email news 
    regarding store promotions and updates. To sign up, click the link in the top navigation bar.
    <br />When we have everything up and running, you will see information about the store, 
    the local area, and our customers and vendors. <br /> 
    <strong>Thank you, and come again!</strong></p>
<hr />

<p>Here at Claxton Connections, we strive to help other small businesses like ours to thrive. In various places throughout
    the website and the store, you will see local products and their makers. If it isn't carried in our store, we'll 
    help you locate where to find what your heart desires. Just ask us, and we'll help you.</p>

<hr />
<script language="javascript">
    months = ['January', 'Febraury', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var d = new Date();
    var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";

    var d = new Date();
    (d.getFullYear());


    var theDate = new Date(document.lastModified);
    theDate.setTime((theDate.getTime() + (60 * 60)))
    with (theDate) {
        document.write("<i>Last updated " + weekday[getDay()] + ' ' + getDate() + ' ' + months[getMonth()] + ' ' + d.getFullYear() + ' ' + getHours() + ':' + getMinutes() + " GMT</i>")
    }
</script>