@{
    ViewBag.Title = "Home Page";
}

 <h1>Claxton Connections</h1>

<h4><i>Connecting You With The World Around You</i></h4>
<hr />
<p>Welcome to Claxton Connections! This website will be a work in progress. For now, customers may sign up for email news 
    regarding store promotions and updates. To sign up, click the link in the top navigation bar.
    <br />When we have everything up and running, you will see information about the store, 
    the local area, and our customers and vendors. <br /> <strong>Thank you, and come again!</strong></p>
<hr />

