@{
    ViewBag.Title = "Home Page";
}

 <h1>Claxton Connections</h1>

<h2 class="center"><i>Connecting You With The World Around You</i></h2>

<hr />

<h4>Welcome to Claxton Connections!</h4>

<p>
    Here at Claxton Connections, we strive to help other small businesses like ours to thrive. In various places throughout
    the website and the store, you will see local products and their makers. If it isn't carried in our store, we'll
    try to help you locate what your heart desires. Just ask us.
</p>

<p>
    This website will be a work in progress. For now, customers may sign up for email news
    regarding store promotions and updates. To sign up, click the link in the left navigation bar.
    If you don't want to sign up, but want to let us know you visited our store or website and tell
    us what you thought about us and our service, feel free to place an entry in our guest book. The link to
    that is above, in the top navigation bar. There are other ways to contact us, too, if you have questions,
    concerns, or suggestions, on the Contact page, which is also on the top navigation bar.
    <br /><strong>Thank you, and come again!</strong>
</p>

    <h4 class="center">Future Plans</h4>

<p>
    When we have everything up and running, you will see information about the store,
    the local area, products, and services. You will even be able to shop or to order customer products
    online from our local vendors and have them sent to others as gifts. To stay up-to-date, be sure to sign up as a
    customer to receive e-mail news from the store.
</p>
    
<hr />


<script language="javascript">
    months = ['January', 'Febraury', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var d = new Date();
    var weekday = new Array(7);
    weekday[0] = "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";

    var d = new Date();
    (d.getFullYear());


    var theDate = new Date(document.lastModified);
    theDate.setTime((theDate.getTime() + (60 * 60)))
    with (theDate) {
        document.write("<i>Last updated " + weekday[getDay()] + ' ' + getDate() + ' ' + months[getMonth()] + ' ' + d.getFullYear() + ' ' + getHours() + ':' + getMinutes() + " GMT</i>")
    }
</script>
<hr />