@{
    ViewBag.Title = "Local Events";
}

<h1>Local Area Events</h1>

<p>
    Several communities in the area have annual events that are celebrated by local residents, past residents,
    and travelers alike. Here, we will attempt to round them up, and provide you with where to get further
    information.
</p>

<h4>Claxton: Rattlesnake and Wildlife Festival</h4>
<p>
    Claxton's biggest and most well known annual event every second weekend in March
    that draws people to the town is the Claxton Rattlenake Roundup, which is now known as the Claxton Rattlesnake
    and Wildlife Festival. The weekend includes a parade on Saturday morning that is televised on WTOC, a run/walk, a
    pageant, and live entertainment both days at the festival grounds.
</p>
    <p>
    People come from all over to see live snakes and to learn about them from professional 
    snake handlers. Vendors come from all over to sell their wares in booths at the festival. You can buy just about 
    anything you can think of that would be hand-made or otherwise produced in the South. There are games and activities for the kids, 
    including a petting zoo and animal rides. The non-snake animal exhibit is a newer addition to the traditional festival. 
    There is also a wide variety of food available at the festival.
    <br />
    For More Information: <a href="http://www.claxtonevanschamber.com/events/rattlesnakefestival.html" target="_blank"> Claxton Rattlesnake and Wildlife Festival</a>
</p>
<h4>Glennville: Sweet Onion Festival </h4>
<p>Glennville's biggest festival is their Sweet Onion festival that they hold on the second Saturday of May. The activities include:
    a downtown parade, a pageant,  a "Sweet Onion Run/Walk," arts and crafts, vendors, rides and games for children, live entertainment,
    and a wide variety of food that includes fried sweet onion rings and blooming onions.
    <br />For More Information: <a href=" http://www.glennvillesweetonion.com" target="_blank">Glennville Sweet Onion Festival</a>
    </p>
<h4>Reidsville: </h4>
<p></p>
<h4>Metter: </h4>
 <p></p>
 <h4>Statesboro: </h4>
 <p></p>
 <h4>Vidalia: </h4>
 <p></p>
 <h4>Pembroke: </h4>
 <p></p>
 <hr />
        <script language="javascript">
            months = ['January', 'Febraury', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            var d = new Date();
            var weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thursday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            var d = new Date();
            (d.getFullYear());


            var theDate = new Date(document.lastModified);
            theDate.setTime((theDate.getTime() + (60 * 60)))
            with (theDate) {
                document.write("<i>Last updated " + weekday[getDay()] + ' ' + getDate() + ' ' + months[getMonth()] + ' ' + d.getFullYear() + ' ' + getHours() + ':' + getMinutes() + " GMT</i>")
            }
        </script>
