@{
    ViewBag.Title = "Local Events";
}

<h1>Local Area Events</h1>

<p>Several communities in the area have annual events that are celebrated by local residents, past residents, 
    and travelers alike. Here, we will attempt to round them up, and provide you with where to get further 
    information.</p>

<h2>Claxton: Rattlesnake and Wildlife Festival</h2>
<p>Claxton's biggest and most well known annual event that draws people to the town is the Claxton Rattlenake 
    Roundup, which is now known as the Claxton Rattlesnake and Wildlife Festival. People come from all over to see 
    live snakes and to learn about them from professional snake handlers. Vendors come from all over to sell their wares 
    in booths at the festival. You can buy just about anything you can think of that would be hand-made or 
    otherwise produced in the USA. There are even games and activities for the kids, including a petting zoo. The 
    non-snake animal exhibit is a newer addition to the traditional festival. This festival is usually held the
    second weekend in March.<br />
    For More Information: <a href="http://www.claxtonevanschamber.com/events/rattlesnakefestival.html" target="_blank"> Claxton Rattlesnake and Wildlife Festival</a>
    </p>
<h2>Glennville: Sweet Onion Festival <h2>
<p></p>
<h2>Reidsville: </h2>
<p></p>
<h2>Metter: </h2>
<p></p>
<h2>Statesboro: </h2>
<p></p>
<h2>Vidalia: </h2>
<p></p>
<h2>Pembroke: </h2>
<p></p>
